:root {
  --bg: #2b2b2b;
  --card: #3a3a3a;
  --accent: #c2a878;
  --text: #f1f1f1;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  padding: 20px;
  background: var(--bg);
  color: var(--text);
}

main {
  display: grid;
  gap: 40px;
  max-width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 40px;
  background: #1f1f1f; /* replace later with bookshelf image */
  color: var(--accent);
}

table {
  width: 100%;
  margin: 20px 0;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

#reviews-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#reviews-container {
  display: flex;
  gap: 30px;
  transition: transform .6s ease-in-out;
  will-change: trasnsform;
  width: fit-content; /* width constrain */
}

#reviews-viewport {
  width: 1000px; /* increase this */
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
}

.author {
  font-weight: normal;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 10px;
  opacity: 0.8;
}

#book-form { /* outer container */
  max-width: 600px;
}

#book-form label {
  font-weight: bold;
  margin-top: 10px;
  align-self: center;
}

#book-form input,
#book-form textarea {
  width: 100%;
  box-sizing: border-box;
}

#review {
  grid-column: 1 / -1;
  min-height: 120px;
}

label[for="review"] { /* targets review label */
  grid-column: 1 / -1; /* stretches element from first to last column*/
}

#book-form button {
  grid-column: 1 / -1;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}

fieldset { /* inner container */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;

  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

.review-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 290px;  /* fixed width */
  font-size: 0.95rem;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #555;
  border-radius: 10px;
  background: var(--card);
  color: var(--text);
  cursor: pointer;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s, box-shadow .3 ease;

  height: 480px;
  overflow: hidden;
  min-width: calc(100% / 3 - 20px); /* three visible */
}

.review-card.flipped {
  transform: rotateY(180)
}

.card-front,
.card-back {
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back {
  transform: rotateY(180deg)
}

.review-card p {
  font-style: italic;
  /* font-weight: 500; */
}

.review-card h3 {
  font-size: 1.05rem;
  /* font-weight: 600; */
}

.review-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.review-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

#tabs {
  display: flex;
  gap: 90px;
  margin: 20px;
  justify-content: center;
}

#tabs button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 6px;
}

#tabs button.active {
  background: var(--accent);
  color: #1f1f1f;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.book-cover {
  position: relative;
  display: block;
}

.book-cover img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 9px;
  border-radius: 8px;
}

.book-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 6px;
}

#voting-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  max-width: 600px;
  margin: 0 auto;
}

#voting-container .review-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 420px;
  cursor: pointer;
}

#voting-container .book-cover img {
  max-height: 560px;
  object-fit: cover;
}

#voting-container .review-card:hover {
  transform: scale(1.05);
}

#chartSection {
  max-width: 75%; /*overall size */
  margin: 0 auto;
}

#results-chart {
  width: 100% !important;
  height: 600px !important; 
}